.beginfind-wrapper{
    widows: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f7f7f7;
}
.beginfind-main{
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    height: 100pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10pt;
    margin-bottom: 10pt;
}
.beginfind-main-text1{
    font-family: PingFangSC-Regular;
    font-size: 16pt;
    color: rgba(0,0,0,0.85);
    letter-spacing: 0;
    margin: 0 5pt 0 10pt;
}
.beginfind-main-text2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.beginfind-main-text2-text{
    font-family: PingFangSC-Regular;
    font-size: 12pt;
    color: rgba(0,0,0,0.85);
    letter-spacing: 0;
    line-height: 33px;
    margin-right: 10pt;
}

.beginfind-main-1{
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 50pt;
    background: #FFFFFF;
    border-bottom: #eeeeee 2px solid;
}

.beginfind-main-1-left{
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beginfind-main-1-left-text{
    font-family: PingFangSC-Regular;
    font-size: 15pt;
    color: rgba(0,0,0,0.85);
}
.beginfind-main-1-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beginfind-main-1-center-text{
    font-family: PingFangSC-Regular;
    font-size: 15pt;
    color: rgba(0,0,0,0.85);
}
.beginfind-main-1-right{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beginfind-main-1-right-text{
    font-family: PingFangSC-Regular;
    font-size: 24pt;
    color: rgba(0,0,0,0.85);
}


.beginfind-main-ok{
    background: #689DFF;
    height: 40pt;
    width: 70vw;
    border-radius: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20pt;
}
.beginfind-main-ok-text{
    font-family: PingFangSC-Semibold;
    font-size: 16pt;
    color: #FFFFFF;
    text-align: center;
}